<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="box-one">
            
            <div class="arrow">
                <img src="images/arrow.png" alt="arrow">
            </div>
            
        </div>
        <div class="box-two">
            <div class="cricle-img1">
                <img src="images/hand.png" alt="icon">
            </div>
            <div class="content-one">
                <strong>lorem ipsum</strong>
                <small>infographic</small>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, molestiae soluta dolores eveniet eum repudiandae corrupti veritatis eos nesciunt, consectetur quibusdam? Ratione veritatis quod distinctio facere asperiores cupiditate architecto animi.</p>
            </div>
            <div class="cricle-img2">
                <img src="images/hand.png" alt="icon">
            </div>
            <div class="content-two">
                <strong>lorem ipsum</strong>
                <small>infographic</small>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, molestiae soluta dolores eveniet eum repudiandae corrupti veritatis eos nesciunt, consectetur quibusdam? Ratione veritatis quod distinctio facere asperiores cupiditate architecto animi.</p>
            </div>
            <div class="cricle-img3">
                <img src="images/hand.png" alt="icon">
            </div>
            <div class="content-three">
                <strong>lorem ipsum</strong>
                <small>infographic</small>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, molestiae soluta dolores eveniet eum repudiandae corrupti veritatis eos nesciunt, consectetur quibusdam? Ratione veritatis quod distinctio facere asperiores cupiditate architecto animi.</p>
            </div>
            <div class="cricle-img4">
                <img src="images/hand.png" alt="icon">
            </div>
            <div class="content-four">
                <strong>lorem ipsum</strong>
                <small>infographic</small>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, molestiae soluta dolores eveniet eum repudiandae corrupti veritatis eos nesciunt, consectetur quibusdam? Ratione veritatis quod distinctio facere asperiores cupiditate architecto animi.</p>
            </div>
        </div>
        <div class="clear-fix"></div>
    </div>
</body>
</html>